<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="localhost\SQLSERVER2008" />
    <add key="database" value="GD1C2015" />
    <add key="id" value="gd" />
    <add key="password" value="gd2015" />
    <add key="year" value="2015" />
    <add key="month" value="06" />
    <add key="day" value="16" />
    <add key="hour" value="11" />
    <add key="minutes" value="59" />
  </appSettings>
</configuration>